body {
  margin: 0;
  padding: 0;
}

.flex-container {
  /* tells the container how all child 
  elements should be displayed*/
  display: flex; 
  /* all items in container should display in a 
  row and wrap to next row if not enough space*/
  flex-flow: row wrap;
  text-align: center;
}

.profile {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #000;
  color: #fff;
  /* tells all items (children) whether 
  they should grow, shrink, and what their base width is*/
  flex: 1 0 49%;
  text-transform: capitalize;
  border: 3px solid #fff;
  height: 300px;
}
.profile:last-of-type{
  border: 3px 0 0 0 #fff;
}

.profile h1, .profile h3 {
  display: inline-block;
  vertical-align: middle;
}

#top_profile {
  /* specifies a different basis for the 
  top-most child item */
  flex:  1 0 100%;
  height: 400px;
  background-image: url('images/lightning.jpg');
}

#snowy_mountains {
  background-image: url('images/snowy_mountains.jpg');
}

#palm_trees {
  background-image: url('images/palm_trees.jpeg');
}

#railroad {
  background-image: url('images/railroad.jpg');
}
#rock_ocean {
  background-image: url('images/rock_ocean.jpg');
}

#ship {
  background-image: url('images/ship.jpg');
}

#snowy_house {
  background-image: url('images/snow_house.jpg');
}

#trees {
  background-image: url('images/trees.jpg');
}

footer {
  margin: 0;
  padding: 20px;
  background: #ccc;
  /* tells the footer to also 
  display children in flex */
  display: flex;
  /* tells footer to display items 
  in a row that wraps */
  flex-flow: row wrap;
  /* horizontally align all children within container */
  justify-content: flex-end;
}
footer h3 {
  margin: 0;
}
footer ul {
  list-style-type: none;
  padding-left: 0;
}
footer ul li {
  padding: 5px 0;
}
footer div {
  /* tells all items (children) whether 
  they should grow, shrink, and what their base width is*/
  flex: 0 1 30%;
}
footer #navigate {
  margin-right: 10%;
  /* have this child come first */
  order: 1;
  /* vertically align this specific item to the bottom */
  align-self: flex-end;
}
footer #social {
  /* have this child come second */
  order: 2;
}

@media only screen and (max-width:767px){
  footer {
    flex-flow: column nowrap;
    align-items: center;
  }

  footer #navigate {
    align-self: center;
    margin-bottom: 10px;
    margin-right: 0;
  }
}